body *{
	padding:0px;
	margin:0px;
	font-family: 	Arial;
}

.wrapper {
	width:960px;
	height:1000px;
}
.header {
	width:938px;
	height: 30px;
	padding:15px;
}
.header h2{
	display:inline-block;
	margin-right: 480px;
}
.header h3 {
	display:inline-block;
}
.main_content{
	padding:20px 20px;
	width:929px;
    height:870px;
    background-color: #633353;
}
.main_content img{
	margin-bottom: 20px;
	width:410px;
	height:auto;
	border: 5px solid #7d7377;
}
.main_content .about_me_section{
	width: 500px;
	display:inline-block;
	vertical-align: top;
    height:280px;
    background-color: lightgrey;
}
.main_content .about_me_section h2 {
    padding: 5px 10px;
    background-color: darkgrey;
    color:white;
}
.main_content p {
	margin-bottom: 15px;
	padding-left: 10px;
}
.main_content a{
	padding-left: 10px;
}
.main_content .projects {
	width:295px;
	height: 570px;
	display : inline-block;
	background-color: lightgray;
	vertical-align: top;
}
.main_content .projects.spacing {
	margin-right:15px;
}
.projects img, 
.projects ul {
	width: 293px;
	margin:0;
}
.projects h2 {
	width: 273;
	padding: 5px 10px;
	color: white;
	background-color: darkgrey;
}
.projects img{
	border:none;
}
.project p{
	width: 278;
}
.tech_images {
	padding:15px 0px 0px 12px;
}
.tech_images li{
	display: inline-block;
	margin-right:10px;
}
.tech_images img{
	width:40px;
	height:40px;
}
.projects button {
	background-color: green;
	color:white;
	border:solid 1px black;
	border-radius: 3px;
	padding:5px;
	margin: 10px 100px;
	font-weight: 900;
}
.footer{
	width:968px;
	height:50px;
}
.footer p
{
	margin:auto;
	width: 240px;
}
.footer ul {
	width: 380px;
	margin:auto;
}
.footer ul li {
	display:inline-block;
}
.footer img {
	width: 25px;
	height:auto;
	margin:auto;
}
.footer, .header{
	background-color: #f9f9f9
}